body {
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centerthisshit {
    display: grid;
    place-items: center;
    min-height: 100%;
}

.horizontallyalignthisshit {
    display: flex;
    justify-content: center;
}

.nomargin {
    margin: 0;
}

.paddingright1em {
    padding-right: 1em;
}

.marginright1em {
    margin-right: 1em;
}

.paddingbottom2em {
    padding-bottom: 2em;
}


.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}